@import "default";

:root {
	--fw: 1;
}
/* ----- レイアウト ----- */
.flex {
	display: flex;
	gap: 1em;
}
.sa {
	justify-content: space-around;
	/* border: 8px dashed rgb(15, 166, 226);
  background-color: rgb(222, 244, 255); */
}
.sb {
	justify-content: space-between;
	/* border: 8px dashed rgb(21, 17, 255);
  background-color: rgb(222, 244, 255); */
}
.sa div,
.sb div {
	margin: 0.1em;
	/* border: 8px dashed rgb(80, 177, 109);
  background-color: rgb(227, 250, 237); */
}
.fw div {
	flex: var(--fw);
	/* background-color: rgb(244, 238, 255);
  border: 8px dashed rgb(93, 0, 255); */
} /* ---------- */
